[phases.setup]
nixPkgs = ["..#dotnet-sdk_9"]

[phases.build]
cmds = [
    "cd MusicStore && dotnet restore",
    "cd MusicStore && dotnet publish -c Release -o ../out"
]

[start]
cmd = "cd out && dotnet MusicStore.dll"
